music21>=9.0
numpy
scipy
pretty_midi
pytest
scikit-learn>=1.3.0
librosa>=0.10.0
pytest-benchmark
PyYAML
types-PyYAML
hypothesis>=6.0
pydantic>=2.7
setuptools
mido
python-rtmidi
transformers==4.*
torch==2.*
soundfile
